.carousel{
    padding: 1rem 0;
}

.carousel img{
    height: 90vh;
    object-fit: cover;
}

.slide{
    cursor: default;
    padding: 0;
}

.thumbs-wrapper, .carousel-status, .control-dots, .control-arrow{
    display: none;
}

@media screen and (max-width: 740px){
    .carousel img{
        max-height: 50vh;
    }
}